
  .contribution-map-container {
    width: 100%; /* Keep the width consistent with other components */
    margin: 0 auto; /* Center the entire container */
    padding: 1% 0;
    color: #fff;
    font-family: geistSans, geistMono;
  
    .contribution-map {
      margin-top: 2%;
      display: flex;
      flex-direction: column;
      align-items: center; /* Center all content except the header */
      color: #fff;
  
      .react-github-calendar {
        width: 100%; /* Make the contribution graph take up full width */
        display: flex;
        justify-content: center; /* Center the contribution graph itself */
        overflow-x: auto; /* Enable horizontal scrolling if content overflows */
      }
  
      .calendar-wrapper {
        width: 100%; /* The graph wrapper takes the full width */
        display: flex;
        justify-content: center; /* Center the contents inside the wrapper */
      }
    }
  }